main {
    width: 940px;
    margin: 0 auto 0 auto;
    padding: 50px 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

#banner {
    width: 100%;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem-beneficios {
    width: 50%;
}